*.pyc
__pycache__
migrations
*.bak
.sqlite3
*.logg
*.pot
venv
media
*/migrations
*/__pycache__
*.sqlite3


.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history