{% extends "base.html" %}

{% load static %}

{% block title %}Welcome {% endblock %}


{% block main %}
<div class="container">
    <section class="bg-white shadow-sm">
        <div class="container">
            <div class="flex-row flex-center t-center">

                <div class="w-50 p-2">
                    <h3>Mission</h3><hr>
                    <p>We day to day put a smile on your face with just an alert.</p>
                </div>
                <div class="w-50 p-2">
                    <h3>Vison</h3><hr>
                    <p>Provide a 360 service to overcome your financial onus. We endeavor to make our clients happy</p>

                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}