<div class="col-md-12">
        <div class="col-sm-8 m-auto">
            <form class="profileform">
                <a href="#" class="close">x</a>
                <img class="round-profile-img" src="img/item-04.jpg">
                <h3>Sign Up</h3>
                <p>
                    <input type="text" placeholder="Momo Name">
                </p>
                <p>
                    <input type="tel" placeholder="Momo Number...">
                </p>
                <p>
                    <label>Gender: &nbsp;</label>
                    <select>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </p>
                <p>
                    <input type="date" placeholder="Date of Birth">
                </p>
                <p>
                    <input type="text" placeholder="Country...">
                </p>

                <p>
                    <input type="text" placeholder="City">
                </p>
                <p>
                    <input type="submit" value=">">
                </p>
            </form>
        </div>
    </div>